<div class="bg-white shadow w-64 my-2">
    <ul class="list-reset">
      <li >
        <a href="#" class="block p-4 text-grey-darker font-bold border-purple hover:bg-grey-lighter 900r-r-4 shadow-2xl">place holder profile</a>
      </li>
      <li >
        <a href="#" class="block p-4 text-grey-darker font-bold border-grey-900 hover:border-purple-light hover:bg-grey-lighter border-r-4 shadow-2xl">place holder profile 2</a>
      </li>
      <li >
        <a href="#" class="block p-4 text-grey-darker font-bold border-grey-lighter hover:border-purple-light hover:bg-grey-lighter border-r-4 shadow-2xl">place holder profile 3</a>
      </li>
      <li >
        <a href="#" class="block p-4 text-grey-darker font-bold border-grey-lighter hover:border-purple-light hover:bg-grey-lighter border-r-4 shadow-2xl">place holder profile 4 </a>
      </li>
      <li >
        <a href="#" class="block p-4 text-grey-darker font-bold border-purple hover:bg-grey-lighter border-r-4 shadow-2xl">place holder profile</a>
      </li>
      <li >
        <a href="#" class="block p-4 text-grey-darker font-bold border-grey-900 hover:border-purple-light hover:bg-grey-lighter border-r-4 shadow-2xl">place holder profile 2</a>
      </li>
      <li >
        <a href="#" class="block p-4 text-grey-darker font-bold border-grey-900 hover:border-purple-light hover:bg-grey-lighter border-r-4 shadow-2xl">place holder profile 3</a>
      </li>
      <li >
        <a href="#" class="block p-4 text-grey-darker font-bold border-grey-900 hover:border-purple-light hover:bg-grey-lighter border-r-4 shadow-2xl">place holder profile 4 </a>
      </li>
      <li >
        <a href="#" class="block p-4 text-grey-darker font-bold border-purple hover:bg-grey-lighter border-r-4 shadow-2xl">place holder profile</a>
      </li>
      <li >
        <a href="#" class="block p-4 text-grey-darker font-bold border-grey-lighter hover:border-purple-light hover:bg-grey-lighter border-r-4 shadow-2xl">place holder profile 2</a>
      </li>
      <li >
        <a href="#" class="block p-4 text-grey-darker font-bold border-grey-lighter hover:border-purple-light hover:bg-grey-lighter border-r-4 shadow-2xl">place holder profile 3</a>
      </li>
      <li >
        <a href="#" class="block p-4 text-grey-darker font-bold border-grey-lighter hover:border-purple-light hover:bg-grey-lighter border-r-4 shadow-2xl">place holder profile 4 </a>
      </li>
    </ul>
  </div>
