<header class="flex sticky top-0 flex-row p-4 items-center justify-start bg-gray-100">
  <div>
    <img alt="logo" class="w-40 mr-2" src="../assets/images/Logo.png" />
  </div>

  <nav class=" text-2xl p-4 font-light">
    <a class="p-3 rounded-full hover:font-normal hover:shadow-md" routerLink="home" routerLinkActive="active">Home</a>
    <a class="p-3 hover:font-normal hover:shadow-lg" routerLink="user-profile" routerLinkActive="active">User Profile</a>
    <a class="p-3 hover:font-normal hover:shadow-lg" routerLink="missions-profile" routerLinkActive="active">Missions Profile</a>
  </nav>
  
  <div class="flex items-center ml-auto">
    <a href="#" class=" text-2xl font-light m-4 p-2">Login</a>
    <a href="#" class=" bg-gray-100 border border-logo-700 rounded-full text-xl font-normal m-4 pl-3 pr-3 p-1 hover:shadow-lg ">Sign Up</a>
  </div>
</header>
<div style="text-align: center;">
  <div>google map here</div>
</div>
<router-outlet></router-outlet>