<header id="top" class="w-full flex flex-col fixed sm:relative bg-white pin-t pin-r pin-l">
  <nav>
    <img src="../assets/images/Logo.png" width="250px"  >

    <a class="btn " routerLink="home" routerLinkActive="active">Home</a>
    <a class="btn" routerLink="user-profile" routerLinkActive="active">User Profile</a>
    <a class="btn" routerLink="missions-profile" routerLinkActive="active">Missions Profile</a>
  </nav>
</header>
<div style="text-align: center;">
  <div>google map here</div>
</div>
<router-outlet></router-outlet>