<header class="flex sticky top-0 flex-row p-3 items-center justify-start bg-gray-100 shadow-md">
  <div>
    <img alt="logo" class="w-56 mr-2" src="../assets/images/Logo.png" />
  </div>

  <nav class=" text-2xl font-light">
    <a class="m-2 pr-3 pl-2 rounded-b-md hover:font-normal hover:shadow-md" routerLink="home"
      routerLinkActive="active">Home</a>
    <a class="m-2 pr-3 pl-2 rounded-b-md hover:font-normal hover:shadow-md" routerLink="user-profile"
      routerLinkActive="active">User Profile</a>
    <a class="m-2 pr-3 pl-2 rounded-b-md hover:font-normal hover:shadow-md" routerLink="missions-profile"
      routerLinkActive="active">Missions Profile</a>
  </nav>

  <div class="flex items-center ml-auto">
    <a href="#" class=" text-2xl font-light m-2 p-2 rounded-b-md hover:font-normal hover:shadow-md">Login</a>
    <a href="#"
      class=" bg-gray-100 border border-logo-700 rounded-full text-xl font-normal m-4 pl-3 pr-3 p-1 hover:shadow-lg ">Sign
      Up</a>
  </div>
</header>
<!-- <div class="shadow-md">
  <div #mapContainer id="map"></div>
</div> -->
<router-outlet></router-outlet>