<!-- Source for form layout. Note: custom built for this form, but referenced from the following:
https://tailwindcss-custom-forms.netlify.app/ -->

<div class="bg-gray-100 rounded shadow-lg flex flex-row w-full" style="height:500px">
    <div class="hidden md:block w-1/3 bg-cover bg-center h-full block flex-shrink-0 " 
        >
        <div class="bg-white shadow-lg w-3/4 m-12 border rounded-lg overflow-hidden"> <!-- ORG CARD -->
            <img class="h-48 w-full object-cover" src="../../../assets/images/placeholder-img.jpg">
            <div class="p-4">
              <div class="flex items-center">
                <h4 class="font-semibold text-lg text-gray-900 tracking-wide">Organization Name</h4>
                <span
                  class="inline-block bg-logo-600 text-white text-xs px-2 rounded-full uppercase font-semibold  tracking-wider ml-auto  shadow-md">Verified</span>
          
              </div>
              <div class="text-gray-700 text-sm uppercase font-semibold  tracking-wider leading-tight mt-1">16348 Gold
                Street<br>Redding, CA</div>
              <div class="text-logo-800 font-semibold text-xs mt-1">Org Bio: Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Aliquid quia voluptate esse quod temporibus, et sequi dicta porro reiciendis fugiat?</div>
            </div>
          </div>
    </div>
    <div class="p-5 w-2/3 flex flex-col justify-center items-center"> <!-- LEFT SIDE OF FORM: LOGO & BIO -->
        <div class="flex flex-col mb-5 w-full">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="logo"> Organization Logo </label>
            <input
                class="bg-gray-100 appearance-none border shadow border-gray-500 rounded w-full py-10 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-teal-500"
                id="logo" type="file" accept="image" >
        </div>
        <div class="flex flex-col mb-5 w-full">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="bio"> Bio </label>
            <textarea
                class="bg-gray-100 appearance-none border shadow border-gray-500 rounded w-full py-24 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-teal-500"
                id="bio" type="text" placeholder="Short summary of what you're most known for"></textarea>
        </div>
    </div>
    <div class="p-4 w-full flex flex-col justify-center items-center"> <!-- RIGHT SIDE OF FORM: NAME & LOCATION -->

        <div class="flex flex-col mb-4 w-full">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="org-name"> Organization Name </label>
            <input
                class="appearance-none block w-full bg-gray-100 text-gray-700 border shadow border-gray-500 rounded py-2 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="org-name" type="text" placeholder="Organization Name">
        </div>
        <div class="flex flex-col mb-4 w-full">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="org-address"> Organization Address </label>
            <input
                class="appearance-none block w-full bg-gray-100 text-gray-700 border shadow border-gray-500 rounded py-2 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="password" type="text" placeholder="Organization Address">
        </div>
        
        
        <div class="flex flex-wrap -mx-3 mb-4">
            <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
                    City
                </label>
                <input
                    class="appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-500 shadow rounded py-2 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                    id="grid-city" type="text" placeholder="Albuquerque">
            </div>
            <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
                    State
                </label>
                <div class="relative">
                    <select
                        class="block appearance-none w-full bg-gray-100 border border-gray-500 shadow text-gray-700 py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                        id="grid-state">
                        <option>New Mexico</option>
                        <option>Missouri</option>
                        <option>Texas</option>
                    </select>
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                            </svg>
                    </div>
                </div>
            </div>
            <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-zip">
                    Zip
                </label>
                <input
                    class="appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-500 shadow rounded py-2 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                    id="grid-zip" type="text" placeholder="90210">
            </div>
        </div>
        <div class="block mt-4 uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
            Organization Mission Location
        </div>
        <div class="flex flex-wrap -mx-2 mb-2">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
                    City
                </label>
                <input
                    class="appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-500 shadow rounded py-2 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                    id="grid-city" type="text" placeholder="Albuquerque">
            </div>
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
                    State
                </label>
                <div class="relative">
                    <select
                        class="block appearance-none w-full bg-gray-100 border border-gray-500 shadow text-gray-700 py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                        id="grid-state">
                        <option>New Mexico</option>
                        <option>Missouri</option>
                        <option>Texas</option>
                    </select>
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                            </svg>
                    </div>
                </div>
            </div>
        </div>

        <button class="bg-gray-700 text-white shadow rounded py-2 px-5 w-64 mt-10">Save Changes</button>
    </div>
</div>